/* initial b-dnd formatting*/
  
.s-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.cards,
.decks,
.tableau {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.cards {
  flex: 1;
  min-width: 300px;
}

.decks {
  flex: 1;
  min-width: 300px;
}

.tableau {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 600px;
}

.card-list {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.card-navigation {
  margin-bottom: 10px;
}

.foundation-deck {
  margin-bottom: 10px;
}

.deck-content {
  min-height: 80px;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 8px;
}

.empty-deck-emoji {
  font-size: 24px;
}

.tableau-pile {
  background-color: #e0e0e0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-width: 100px;
  flex: 1 1 calc(25% - 20px);
}

.tableau-inner {
  min-height: 120px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tableau-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.dragging-over {
  background-color: #f0f0f0;
}