/* ------------------------- solitaire -------------------------*/

/* TwoBoxes.css */
.stockpile-container {
    display: flex;
  }
  
  .sp {
    width: 50%;
    height: 200px;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  
  .box1 {
    background-color: lightblue;
  }
  
  .box2 {
    background-color: lightgreen;
  }



  .card-stack {
    position: relative;
    width: 150px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
  }

  .card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }

  .card-image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  
  .card-index {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* Adjust these styles for the card stacking effect */
  .card:nth-child(1) {
    transform: translate(0, 0);
  }
  
  .card:nth-child(2) {
    transform: translate(5px, -5px);
  }
  
  .card:nth-child(3) {
    transform: translate(10px, -10px);
  }
  
  /* Add more nth-child rules as needed for more cards */






 
